[Unit]
Description=Sway Headless Session
After=systemd-user-sessions.service

[Service]
Type=simple
# Ensure we tell Sway to use the headless backend
Environment=WLR_BACKENDS=headless
Environment=WLR_LIBINPUT_NO_DEVICES=1
Environment=__EGL_VENDOR_LIBRARY_FILENAMES=/usr/share/glvnd/egl_vendor.d/50_mesa.json
ExecStart=/usr/bin/sway -c %h/.config/sway/config

[Install]
WantedBy=default.target
