[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)
After=sway.service

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u

[Install]
WantedBy=default.target
