{
  "notification": false,
  "sound": false,
  "showSessionTitle": true,
  "linux": {
    "grouping": true
  },
  "command": {
    "enabled": true,
    "path": "{{ .chezmoi.homeDir }}/.local/bin/opencode-notify",
    "args": [
      "{event}",
      "{message}"
    ]
  }
}
