{{- $proxy_ip := promptStringOnce . "proxy_ip" "Proxy IP address (e.g. 127.0.0.1)" "127.0.0.1" -}}
{{- $http_port := promptStringOnce . "http_port" "HTTP Proxy Port (e.g. 8118)" "8118" -}}
{{- $socks_port := promptStringOnce . "socks_port" "SOCKS Proxy Port (e.g. 8888)" "8888" -}}
{{- $install_wayvnc := promptBoolOnce . "install_wayvnc" "Install and enable wayvnc?" false -}}
{{- $install_ttrss := promptBoolOnce . "install_ttrss" "Install and enable Tiny Tiny RSS (Docker)?" false -}}
{{- $is_wsl := (and (eq .chezmoi.os "linux") (contains "microsoft" (.chezmoi.kernel.osrelease | lower))) -}}
{{- $ttrss_db_pass := promptStringOnce . "ttrss_db_pass" "TTRSS Database Password" "ttrss_db_password" -}}
{{- $ttrss_url := promptStringOnce . "ttrss_url" "TTRSS External URL (e.g. http://localhost:8280/tt-rss)" "http://localhost:8280/tt-rss" -}}

[data]
    proxy_ip = {{ $proxy_ip | quote }}
    http_port = {{ $http_port | quote }}
    socks_port = {{ $socks_port | quote }}
    install_wayvnc = {{ $install_wayvnc }}
    install_ttrss = {{ $install_ttrss }}
    use_proxy_for_ttrss = {{ promptBoolOnce . "use_proxy_for_ttrss" "Use proxy for tt-rss (to fetch RSS feeds)?" false }}
    is_wsl = {{ $is_wsl }}
    ttrss_db_pass = {{ $ttrss_db_pass | quote }}
    ttrss_url = {{ $ttrss_url | quote }}
