### Gemini ###
/.gemini/
/.gemini_tasks.md

### OpenCode ###
/.opencode

### Git ###
/.worktrees/

# Superpowers #
/docs/superpowers/
/.superpowers/

### Codex ###
/.codex/*
!/.codex/skills/
!/.codex/skills/**
