# Path to your Oh My Zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load
ZSH_THEME="ys"

# Which plugins would you like to load?
plugins=(
  git
  extract
  archlinux
  docker
  eza
  zoxide
  fzf
  fzf-tab
  zsh-autosuggestions
  {{- if not .is_wsl }}
  zsh-auto-notify
  {{- end }}
  zsh-syntax-highlighting
)

source $ZSH/oh-my-zsh.sh

# User configuration
if command -v bat >/dev/null 2>&1; then
  alias cat='bat'
elif command -v batcat >/dev/null 2>&1; then
  alias cat='batcat'
fi

if command -v eza >/dev/null 2>&1; then
  alias ls='eza --icons=auto'
  alias ll='eza -l --icons=auto'
  alias la='eza -la --icons=auto'
fi

# Auto-start and attach to tmux
if [ -z "$TMUX" ] && [ -n "$PS1" ]; then
    tmux new-session -A -s "$USER"
fi
