[include]
    path = .gitconfig.local

[init]
	defaultBranch = main

[pull]
	rebase = true

[http]
    proxy = socks5h://{{ .proxy_ip }}:{{ .socks_port }}

[https]
    proxy = socks5h://{{ .proxy_ip }}:{{ .socks_port }}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
