{
  "layer": "top",
  "position": "top",
  "height": 24,
  "spacing": 0,
  "modules-left": [
    {{- if .install_sway -}}
    "sway/workspaces", "sway/mode", "sway/scratchpad"
    {{- if .install_hyprland }}, {{ end -}}
    {{- end -}}
    {{- if .install_hyprland -}}
    "hyprland/workspaces", "hyprland/submap"
    {{- end -}}
  ],
  "modules-center": [
    {{- if .install_sway -}}
    "sway/window"
    {{- end -}}
    {{- if and .install_sway .install_hyprland -}}
    ,
    {{- end -}}
    {{- if .install_hyprland -}}
    "hyprland/window"
    {{- end -}}
  ],
  "modules-right": ["pulseaudio", "network", "cpu", "memory", "tray", "clock"],

  "sway/workspaces": {
    "disable-scroll": true,
    "all-outputs": true,
    "format": "{name}"
  },
  "hyprland/workspaces": {
    "disable-scroll": true,
    "all-outputs": true,
    "format": "{name}"
  },
  "tray": {
    "icon-size": 21,
    "spacing": 10
  },
  "clock": {
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
    "format-alt": "{:%Y-%m-%d}"
  },
  "cpu": {
    "format": " {usage}%",
    "tooltip": false
  },
  "memory": {
    "format": " {}%"
  },
  "network": {
    "format-wifi": " {essid} ({signalStrength}%)",
    "format-ethernet": "󰈀 {ipaddr}/{cidr}",
    "tooltip-format": "󰈀 {ifname} via {gwaddr}",
    "format-linked": "󰈀 {ifname} (No IP)",
    "format-disconnected": "󰈂 Disconnected ⚠",
    "format-alt": "{ifname}: {ipaddr}/{cidr}"
  },
  "pulseaudio": {
	"format": "{volume}% {icon}",
	"format-bluetooth": "{volume}%  ",
	"format-muted": "",
	"format-icons": {
	  "headphone": "",
	  "hands-free": "",
	  "headset": "",
	  "phone": "",
	  "phone-muted": "",
	  "portable": "",
	  "car": "",
	  "default": ["", ""]
	},
	"scroll-step": 1,
	"on-click": "pavucontrol"
  }
}
